<app-global-notification></app-global-notification>
<ng-container *ngIf="dataInitialised">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">RealPerfect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/buy']" routerLinkActive="active">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/rent']" routerLinkActive="active">Rent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/realtors']" routerLinkActive="active">Our Realtors</a>
      </li>
      <li class="nav-item owner-item">
        <a class="nav-link" routerLink="/sell" style="color: black">I'm an owner!</a>
      </li>
    </ul>
    <signup-button *ngIf="!isAuthenticated"></signup-button>
    <signin-button *ngIf="!isAuthenticated" (onSignin)="reset()"></signin-button>
    <signout-button *ngIf="isAuthenticated" (onSignout)="reset()"></signout-button>
    <region-input></region-input>
  </div>
</nav>
<div class="container-fluid">
      <router-outlet></router-outlet>
</div>
</ng-container>
