/Servers
/.metadata
/.git
/.idea
/frontend/node_modules/
/D:
/backend/src/main/java/co/oleh/realperfect/config/GoogleConfiguration.java
*~
.#*
*#
target
bin
/data
.classpath
.project
.settings
.springBeans
.DS_Store
*.sw*
*.iml
.idea
/frontend/.angular/
