<div class="profile-container">
    <div class="profile-title">
        <h1 style="font-size: 2rem">User profile</h1>
        <a *ngIf="!isEditMode" (click)="goToEditMode()" class="btn btn-danger">Edit</a>
    </div>

    <div *ngIf="!isEditMode">
        <div class="profile-user-title">
            <div>
                {{ user.name }}&nbsp;{{ user.surname }}{{ !isRealtor ? ', Realtor' : '' }}
            </div>
        </div>
    </div>

    <div *ngIf="isEditMode">
        <form>
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <div class="form-row">
                            <input style="width: 100%" [(ngModel)]="user.name" name="name" type="text">
                        </div>
                        <div class="form-row">
                            <input style="width: 100%" [(ngModel)]="user.surname" name="surname" type="text">
                        </div>
                        <div class="form-row"
                             style="display: flex; flex-direction: row; justify-content: space-between">
                            <div *ngIf="user.login">Login: {{ user.login }}</div>
                            <div class="is-realtor-checkbox">
                                <div>
                                    <label for="isRealtor">Realtor&nbsp;</label>
                                </div>
                                <div>
                                    <input id="isRealtor" name="isRealtor"
                                           type="checkbox"
                                           [(ngModel)]="isRealtor"
                                           class="big-checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="form-row user-info">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <div>
                                    <label class="col-form-label">User photo:&nbsp;</label>
                                </div>
                                <div>
                                    <input type="file"
                                           style="max-width: 250px"
                                           (change)="onUserPhotoSelecting($event)"
                                           placeholder="Upload file"
                                           accept="image/*" required>
                                </div>
                            </div>
                            <!--                    <div class="row" *ngIf="user.profilePic">-->
                            <!--                        <div class="col-1">-->
                            <!--                            <button class="btn btn-block" (click)="deletePhoto()">x</button>-->
                            <!--                        </div>-->
                            <!--                    </div>-->
                            <!--                    <div class="row user-photo-container">-->
                            <!--                        <img *ngIf="user.profilePic" class="img-fluid user-photo" src="{{user.profilePic.fullUrl}}">-->
                            <!--                    </div>-->
                        </div>
                        <div class="form-row" style="display: flex; justify-content: center">
                            <button *ngIf="isEditMode" class="btn btn-info" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
