<div class="profile-container">
  <div class="profile-title">
    <h1 style="font-size: 2rem">User profile</h1>

    <div class="form-row">
      <a *ngIf="!isEditMode" (click)="goToEditMode()" class="btn btn-info">Edit</a>
      <button *ngIf="isEditMode" class="btn btn-light" (click)="cancelChanges()">Cancel</button>
      <button *ngIf="isEditMode" class="btn btn-info" (click)="save()">Save</button>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; gap: 10px;">
    <div style="width: 180px" class="user-photo-container">
      <img *ngIf="user" (error)="setDefaultUserPhoto($event)" class="user-photo"
           src="{{user.profilePicUrl ? user.profilePicUrl: defaultUserPhoto}}">
    </div>

    <div style="display: flex; flex-direction: column; justify-content: space-between"
         class="user-title-container">
      <div>
        <div class="form-row">
          <input [attr.disabled]="!isEditMode?true:null" placeholder="Name"
                 [(ngModel)]="user.name"
                 name="name" type="text">
        </div>
        <div class="form-row">
          <input [attr.disabled]="!isEditMode?true:null" placeholder="Surname"
                 [(ngModel)]="user.surname" name="surname" type="text">
        </div>

        <div class="form-row">
          <input [attr.disabled]="!isEditMode?true:null" placeholder="Email"
                 [(ngModel)]="user.email"
                 name="email" type="email">
        </div>

        <div class="form-row">
          <input [attr.disabled]="!isEditMode?true:null" placeholder="Phone Number"
                 [(ngModel)]="user.phoneNumber" name="email" type="text">
        </div>

        <div class="form-row"
             style="display: flex; flex-direction: row; justify-content: space-between">
          <span id="role">
<!--                {{user.roles|json}}-->
          </span>
        </div>
      </div>

      <div *ngIf="isEditMode">
        <input style="display: none" type="file" id="fileInput"
               (change)="onUserPhotoSelecting($event)"/>
        <label for="fileInput" class="avatar-change-link">
          Change
        </label>
        or <span class="avatar-change-link" (click)="clearAvatar()">Clear</span> avatar
      </div>
    </div>
  </div>
  <div>User since:&nbsp;{{ user.createdAt | date:'shortDate' }}</div>

  <div [formGroup]="realtorForm" class="realtor-block d-flex flex-column">
    <div *ngIf="isEditMode" class="d-flex flex-row" style="gap: 10px; align-items: center">
      <div>
        <label>I'm realtor</label>
      </div>
      <div>
        <input name="isRealtor"
               type="checkbox"
               class="big-checkbox"
               formControlName="isRealtorControl">
      </div>
    </div>
  </div>
</div>
