.user-photo-container {
  width: 180px;
  img {
    height: 220px;
    object-fit: cover;
  }
}


.realtor-block {
  margin-top: 50px;
}

.user-photo-container, .user-title-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.profile-container {
  width: 100%;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-user-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.is-realtor-checkbox {
  display: flex;
  align-items: center;
}

.form-row {
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: 0;
  height: 29px;

  input, select {
    width: 100%;
  }

  input::placeholder {
    opacity: 30%;
  }
}


.avatar-change-link {
  color: mediumblue;
  cursor: pointer;
  margin-bottom: 0;
}

.profile-data {
  &-category {
    width: 40%;
  }
  &-value {
    width: 60%;
  }
}
