<div class="row">
  <div class="col-2">
    <div class="row card">
      <div class="card-header">
        Filters
      </div>
      <div class="form-group card-body">
        Street<input name="street" [(ngModel)]="filter.street" class="form-control">
        City<input name="city" [(ngModel)]="filter.city" class="form-control">
        Price min <input name="minPrice" [(ngModel)]="filter.minPrice" class="form-control">
        Price max <input name="maxPrice" [(ngModel)]="filter.maxPrice" class="form-control">
        Rooms <input name="rooms" [(ngModel)]="filter.rooms" class="form-control">
        House type <select name="houseType" [(ngModel)]="filter.houseType" class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      </div>
      <div class="row">
        <div class="col-6">
          <button (click)="resetAllFilters()" class="btn btn-info btn-block">Reset all</button>
        </div>
        <div class="col-6">
          <button (click)="searchObjects()" class="btn btn-info btn-block">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10">
    <realty-objs-list [realtyObjects]="currentRealtyObjects"></realty-objs-list>
    <div class="row">
      <div class="col-2 offset-5">
        <button class="btn btn-block btn-info">Next items</button>
      </div>
    </div>
  </div>
</div>

