@import "../variables";

.toast-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.add-object-button {
  position: fixed;
  height: 85px;
  width: 85px;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
}

.input-row {
  display: flex;
  gap: 10px;
  justify-content: space-between
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#orderByDropdownMenuButton {
  border: none;
}

.filter {
  &--value-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
}

.other-filters {
  padding-top: 7px;
}

.filters-section {
  position: sticky;
  top: $header-height;
  height: calc(100vh - #{$header-height});
  overflow-y: auto; /* Allow scrolling within the filter section if needed */
}

.filters-section, .main-page-block {
  padding-top: $padding-below-header;
}
