<div class="row">
  <div class="col-2" >
    <div class="row card" [formGroup]="filterForm">
      <div class="card-header">
        <div class="card-header--part">
          <input name="city" [placeholder]="'Type City'" [formControlName]="'city'" class="form-control">
        </div>
        <div>
          <div class="filter--value-container card-header--part" ngbDropdown>
            <button
              id="orderByDropdownMenuButton"
              class="btn btn-outline-secondary"
              ngbDropdownToggle
            >
              By {{ selectedOrderingOption.display }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
              <button
                class="dropdown-item"
                *ngFor="let option of orderingOptions"
                (click)="selectOrderingOption(option)"
              >
                {{ option.display }}
              </button>
            </div>
            <span style="margin-top: 3px; cursor: pointer" (click)="toggleOrderingDirection()">
              <ng-container>
                <i *ngIf="selectedOrderingDirection === 'desc'; else arrowDown" class="fas fa-arrow-down"></i>
                <ng-template #arrowDown>
                  <i style="cursor: pointer" class="fas fa-arrow-up"></i>
                </ng-template>
              </ng-container>
            </span>
          </div>
        </div>
      </div>

      <div class="other-filters form-group card-body">
        Street
        <input name="street" [formControlName]="'street'" class="form-control">
        <div class="input-row">
          <div>
            Price min
            <input type="number" name="minPrice" [formControlName]="'priceMin'" class="form-control">
          </div>
          <div>
            Price max
            <input type="number" name="maxPrice" [formControlName]="'priceMax'" class="form-control">
          </div>
        </div>
        <div class="input-row">
          <div>
            Area min
            <input type="number" name="minTotalArea" [formControlName]="'totalAreaMin'" class="form-control">
          </div>
          <div>
            Area max
            <input type="number" name="maxTotalArea" [formControlName]="'totalAreaMax'" class="form-control">
          </div>
        </div>
        Rooms
        <input name="rooms" type="number" [formControlName]="'roomsAmount'" class="form-control">
        Description like
        <input name="description" [formControlName]="'description'" class="form-control">
        Building type
        <select [formControlName]="'buildingType'" name="buildingType" class="form-control" required>
          <option *ngFor="let buildingType of buildingTypes" [ngValue]="buildingType">{{ buildingType }}
          </option>
        </select>
        <!--Dwelling type-->
        <!--<select name="dwellingType" [(ngModel)]="filter.dwellingType.eq" class="form-control">-->

        <!--</select>-->
      </div>
      <div class="row">
        <div class="col-6">
          <button (click)="resetFiltersAndLoadInitialObjects()" class="btn btn-info btn-block">Reset all</button>
        </div>
        <div class="col-6">
          <button (click)="loadInitialObjects()" class="btn btn-info btn-block">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-10 main-page-block"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll()">
    <realty-objs-list [realtyObjects]="currentObjects$|async"></realty-objs-list>
    <div class="row">
      <div class="col-2 offset-5">
        <button *ngIf="userService.isAuthenticated$|async" [routerLink]="'/sell'"
                class="btn btn-block btn-info add-object-button">Add Object
        </button>
      </div>
    </div>
  </div>
</div>

