<div id="itemsContainer" class="row">
  <div *ngFor="let realtyObject of realtyObjects; trackBy: trackById" class="col-4">
    <div class="thumbnail">
      <div class="thumbnail-image-container">
        <img class="thumbnail-image"
             src="{{realtyObject.mainPhotoPath?realtyObject.mainPhotoPath:'https://placehold.co/600x400'}}"
             alt="">
      </div>
      <div class="caption">
        <div class="caption-top-row">
          <h4 style="flex: 1">
            {{ realtyObject.address.street }},&nbsp;{{ realtyObject.address.city }}
          </h4>
          <div>
            <a *ngIf="userService.isAuthenticated" [routerLink]="['/sell', realtyObject.id]"
               class="btn-block">Edit</a>
          </div>
        </div>
        <div>
          <p>
            {{ realtyObject.roomsAmount }} rooms, {{ realtyObject.totalArea }}
            sq.m., {{ realtyObject.floor }} floor of
            {{ realtyObject.totalFloors }} <span
            class="pull-right">{{ realtyObject.hasRepairing ? 'Repaired' : '' }}</span>
          </p>
          <p>{{ trimDescription(realtyObject.description) }}</p>
        </div>
        <h4>Price: ${{ realtyObject.price }}</h4>
        <a [routerLink]="['/view-obj', realtyObject.id]" style="border: 1px solid black" class="btn btn-block">Watch details</a>
      </div>
    </div>
  </div>
</div>
