.thumbnail {
  margin-bottom: 15px;

  &-image {
    width: 100%;
    object-fit: cover;
  }

  &-image-container {
    height: 230px;
    display: flex;
  }
}


.caption {
  &-top-row {
    display: flex;
  }
}

