<div>
    <div id="filter-row" class="row form-group">
        <div class="col-md-2">
            <input type="text" auto-complete-directive
                   auto-complete-url="{{streetURL}}"
                   parameters-elements-ids='{{streetParametersElementsIds}}'
                   result-element-id="{{streetIdElementId}}" class="form-control"
                   id="city" placeholder="Enter street"
                   ng-model="filter.address.streetInCity.name"> <input
                type="hidden" id="{{streetIdElementId}}">
        </div>
        <div class="col-md-2">
            <input type="text" auto-complete-directive
                   auto-complete-url="{{cityURL}}"
                   parameters-elements-ids="{{cityParametersElementsIds}}"
                   result-element-id="{{cityIdElementId}}" class="form-control"
                   id="city" placeholder="Enter city"
                   ng-model="filter.address.streetInCity.city.name"> <input
                type="hidden" id="{{cityIdElementId}}">
        </div>

        <div class="col-md-1 col-md-offset-1">
            Price min <input ng-model="filter.minPrice" type="text"
                             class="form-control">
        </div>
        <div class="col-md-1">
            Price max <input ng-model="filter.maxPrice" type="text"
                             class="form-control">
        </div>
        <div class="col-md-1">
            Rooms <input ng-model="filter.rooms" type="text" class="form-control">
        </div>
        <div class="col-md-2">
            House type <select ng-model="filter.houseType" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        </div>
        <div class="col-md-2">
            <div style="text-align: right;">
                <button class="btn">
                    More filters <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-4 col-md-offset-4">
            <button ng-click="searchObjects()" class="btn btn-info btn-block">SEARCH</button>
        </div>
    </div>

    <div id="itemsContainer" class="row">
        <div ng-repeat="realtyObject in realtyObjects"
             class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img
                        src="{{realtyObject.mainPhotoPath?realtyObject.mainPhotoPath:'//www.fgschaub.com/images/2013/03/house-3d-image.jpg'}}"
                        alt="">
                <div class="caption">
                    <h4 class="pull-right">${{realtyObject.price}}</h4>
                    <h4>
                        <a href="#">{{realtyObject.address.streetInCity.name}},
                            {{transformCityToString(realtyObject.address.streetInCity.city)}}</a>
                    </h4>
                    <div>
                        <p>
                            {{realtyObject.roomsAmount}} rooms, {{realtyObject.totalArea}}
                            sq.m., {{realtyObject.floor}} floor of
                            {{realtyObject.totalFloors}} <span class="pull-right">{{realtyObject.hasRepairing?'Repaired':''}}</span>
                        </p>
                        <p>{{trimDescription(realtyObject.description)}}</p>
                    </div>
                    <a ng-href="/object-details/{{realtyObject.id}}" class="btn btn-block">Watch details</a>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-block btn-info">Next items</button>
        </div>
    </div>
</div>