<h5>Add your realty object</h5>
<aw-wizard [navBarLayout]="'large-empty'">
  <aw-wizard-step stepTitle="Address">
    <button type="button" class="btn" awNextStep>Next Step</button>
    <form class="form-horizontal">
      <address-input></address-input>
      <div class="form-group row">
        <label class="col-3 col-form-label text-right" for="number-of-street-input">Building
          number*</label>
        <div class="col-8">
          <input id="number-of-street-input" name="buildNum" type="text"
                 class="form-control"
                 ng-model="realty.address.numberOfStreet"
                 required>
        </div>
      </div>
      <div ng-show="isApt" class="form-group row">
        <label class="col-3 col-form-label text-right" for="apt-number-input">Apt.
          number*</label>
        <div class="col-8">
          <input id="apt-number-input" ng-model="realty.address.aptNumber"
                 name="flatNum" type="text" class="form-control"
                 ng-required="isApt">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label text-right" for="is-apt">It's
          an apartment</label>
        <div class="col-8 text-center">
          <input
            type="checkbox" name="is-apt" id="is-apt" ng-model="isApt" class="big-checkbox">
        </div>
      </div>
    </form>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Primary info" awOptionalStep>
    <button type="button" class="btn" awPreviousStep>Previous step</button>
    <button type="button" class="btn" awNextStep>Next Step</button>
    <div class="form-group">
      <label class="col-4 col-form-label" for="rooms-amount-input">Rooms
        amount*</label>
      <div class="col-4">
        <input id="rooms-amount-input" name="rooms" type="text"
               class="form-control"
               ng-model="realty.roomsAmount"
               required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-4 col-form-label" for="total-area-input">Total
        area*</label>
      <div class="col-4">
        <input id="total-area-input" name="total-area" type="text"
               class="form-control" ng-model="realty.totalArea"
               required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-4 col-form-label" for="textinput">Living
        area</label>
      <div class="col-4">
        <input id="textinput" name="buildNum" type="text"
               class="form-control" ng-model="realty.livingArea">
      </div>
    </div>
    <div class="form-group">
      <label class="col-4 col-form-label" for="floor-input">Floor</label>
      <div class="col-4">
        <input id="floor-input" name="buildNum" type="text"
               class="form-control" ng-model="realty.floor">
      </div>
    </div>
    <div class="form-group">
      <label class="col-4 col-form-label" for="building-floors-input">Floors
        in building</label>
      <div class="col-4">
        <input id="building-floors-input" name="buildNum" type="text"
               class="form-control" ng-model="realty.totalFloors">
      </div>
    </div>
    <div class="form-group">
      <div class="col-4 col-form-label">
        <label>Building type:</label>
      </div>
      <div class="col-4">
        <label ng-repeat="buildingType in buildingTypes">
          <input type="radio" name="buildingType" ng-model="realty.buildingType"
                 ng-value="buildingType"/> {{buildingType}}&nbsp;
        </label>
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Additional info" awOptionalStep>
    <button type="button" class="btn" awPreviousStep>Previous step</button>
    <button type="button" class="btn" awNextStep>Next Step</button>
    <div class="form-group">
      <div class="col-4 col-form-label">
        <label for="description-input">Overall description:</label>
      </div>
      <div class="col-4">
					<textarea rows="4" maxlength="128" ng-model="realty.description" class="form-control"
                    id="description-input"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-4 col-form-label">
        <label for="other-info-input">Other info:</label>
      </div>
      <div class="col-4">
					<textarea rows="2" maxlength="64" ng-model="realty.otherInfo" class="form-control"
                    rows="3" id="other-info-input"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-4 col-form-label">
        <label for="repaired-input">Recently repaired</label>
      </div>
      <div class="checkbox col-4 text-center">
        <input
          type="checkbox"
          id="repaired-input"
          ng-model="realty.hasRepairing"
          class="big-checkbox">
      </div>
    </div>
    <div class="form-group">
      <div class="col-4 col-form-label">
        <label for="garage-input">
          Garage
        </label>
      </div>
      <div class="checkbox col-4 text-center">
        <input type="checkbox"
               name="garage"
               id="garage-input"
               ng-model="realty.hasGarage"
               class="big-checkbox">
      </div>
    </div>
    <div class="form-group">
      <div class="col-4 col-form-label">
        <label for="foundation-year-input">Building foundation year:</label>
      </div>
      <div class="col-4">
        <input ng-model="realty.foundationYear" class="form-control"
               id="foundation-year-input">
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Realtor and targeting" awOptionalStep>
    <button type="button" class="btn" awPreviousStep>Previous step</button>
    <button type="button" class="btn" awNextStep>Next Step</button>
    <div class="form-group">
      <label class="col-4 col-form-label" for="price-input">Price ($)*</label>
      <div class="col-4">
        <input id="price-input" name="buildNum" type="text"
               class="form-control" ng-model="realty.price"
               required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-4 col-form-label">
        <label>Supported operations:</label>
      </div>
      <div class="col-4">
        <!--<label ng-repeat="operation in operations">-->
        <!--<input class="big-checkbox"-->
        <!--type="checkbox"-->
        <!--name="{{operation}}-type"-->
        <!--value="{{operation.name}}"-->
        <!--ng-model="operation.selected"-->
        <!--&gt; {{operation.name}}&nbsp;-->
        <!--</label>-->
      </div>
    </div>
    <div class="form-group">
      <div class="col-4 col-form-label">
        <label>Realtor*:</label>
      </div>
      <div class="col-4">
        <input type="text" name="realtor">
      </div>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Photos">
    <button type="button" class="btn" awPreviousStep>Previous Step</button>
    <div class="form-group">
      <div class="col-offset-4 col-4">
        {{uploadError}}
        {{progressPercentage}}%
      </div>
    </div>
    <div class="form-group">
      <label class="col-4 col-form-label">Realty object photo(s) - maximum 5 MB:</label>
      <div class="col-4">
        <div ngf-drop ngf-select ngf-before-model-change="setObjectPhotosUpload()" ng-model="files" class="drop-box"
             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
             accept="image/*"
             ngf-pattern="'image/*,application/pdf'">Drop images here or click to upload
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <div ng-show="files">
          <ul>
            <!--<li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-4 col-form-label">Ownership verification photo </label>
      <div class="col-4">
        <div ngf-drop ngf-select ngf-before-model-change="setConfirmationUpload()" ng-model="file" class="drop-box"
             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
             accept="image/*"
             ngf-pattern="'image/*,application/pdf'"
        >Drop image here or click to upload
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        <div ng-show="files">
          <ul>
            <!--<li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>-->
          </ul>
        </div>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
