@import "../../variables";

:host {
  display: block;
  padding-top: $padding-below-header;
}

.add-realtor-btn {
  display: inline-block;
  height: 100px;
  width: 100px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
}

.realtor-photo {
  &-container {
    height: 200px;
  }
  height: 100%;
  object-fit: cover;
}
