@import "../../variables";
:host {
  display: block;
  padding-top: $padding-below-header;
}

.realtor-block {
  width: 20%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-realtor-btn {
  display: inline-block;
  height: 100px;
  width: 100px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
}

.realtor-photo-container {
  height: 150px;
}

.realtor-photo {
  max-width: 100%;
  max-height: 100%;
}
