@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.toast-container {
  position: fixed;
  z-index: 2000; //
  left: calc(40%);
  top: calc(40%);
  @include media-breakpoint-down(sm) {
    left: calc(25%);
  }
}
