@import 'app/variables';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.geomap-container {
  width: 50%;
  @include media-breakpoint-down(lg) {
    width: 75%;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
:host ::ng-deep .map-widget-container {
  height: 300px;
}


.realty-pic-preview-container {
  text-align: center
}

.realty-pic-preview-container img, .realty-confirmation-pic-preview-container img {
  max-height: 150px;
}
.realty-pic-preview-container img {
  width: 100%;
  object-fit: cover;
}

input.ng-invalid, textarea.ng-invalid {
  border: 1px solid #ffc87f !important;
}

input.ng-valid, textarea.ng-valid {
  border: 1px solid $app-border-color !important;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
}

.main-photo-text {
  padding: 9px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2); /* Darker or faded placeholder */
}
