<app-objects-in-profile-filter [filter]="filter" (filterChanged)="setFilter($event)"></app-objects-in-profile-filter>
<realty-objs-list *ngIf="filteredObjects?.length; else noObjectsTemplate"
                  [displayMode]="'reset'"
                  [showManageStatusOptions]="true"
                  [showCreatedAt]="true"
                  [realtyObjectsPortion]="filteredObjects"></realty-objs-list>
<ng-template #noObjectsTemplate>
  <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 30vh">
    <div>For Now You Haven't Been Assigned To Any Objects. Enjoy Using Our Service!</div>
  </div>
</ng-template>
