<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Password Recovery</h4>
    <div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>
</div>

<div class="modal-body">
    <form [formGroup]="forgotPasswordForm" *ngIf="!emailSubmitted">
        <div class="form-group">
            <label for="email">Please Type Your Email</label>
            <div class="input-group">
                <input formControlName="email" type="email" id="email" class="form-control" name="email">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="container login-btns--container">
        <div class="login-btns">
            <div>
                <button *ngIf="!emailSubmitted"
                        [disabled]="forgotPasswordForm?.invalid"
                        type="button"
                        class="btn btn-outline-dark"
                        (click)="submitEmail()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
