<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Password Recovery</h4>
    <div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>
</div>

<div class="modal-body">
    <form [formGroup]="forgotPasswordForm" *ngIf="!emailSubmitted; else resetPasswordBlock">
        <div class="form-group">
            <label for="email">Please Type Your Email</label>
            <div class="input-group">
                <input formControlName="email" type="email" id="email" class="form-control" name="email">
            </div>
        </div>
    </form>
    <ng-template #resetPasswordBlock>
        <form [formGroup]="resetPasswordForm">
            <div class="form-group">
                <label for="confirmationCode">Confirmation Code From your Email</label>
                <div class="input-group">
                    <input formControlName="confirmationCode" type="text" id="confirmationCode" class="form-control" name="confirmationCode">
                </div>
                <label for="confirmationCode">New Password</label>
                <div class="input-group">
                    <input formControlName="newPassword" type="password" id="newPassword" class="form-control" name="newPassword">
                </div>
            </div>
        </form>
    </ng-template>
</div>

<div class="modal-footer">
    <div class="container action-btns--container">
        <div class="action-btns">
            <div>
                <button *ngIf="!emailSubmitted; else submitNewPassword"
                        [disabled]="forgotPasswordForm?.invalid"
                        type="button"
                        class="btn btn-outline-dark"
                        (click)="submitEmail()">
                    Submit
                </button>
                <ng-template #submitNewPassword>
                    <button *ngIf="emailSubmitted; else submitNewPassword"
                            [disabled]="resetPasswordForm?.invalid"
                            type="button"
                            class="btn btn-outline-dark"
                            (click)="submitConfirmationCode()">
                        Reset Password
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
