<div style="display: flex; flex-direction: row; justify-content: start; gap: 50px">
  <label>
    All <input type="radio" name="filter" (change)="setFilter('all')" [checked]="filter === 'all'">
  </label>
  <label>
    Future <input type="radio" name="filter" (change)="setFilter('future')" [checked]="filter === 'future'">
  </label>
  <label>
    Past <input type="radio" name="filter" (change)="setFilter('past')" [checked]="filter === 'past'">
  </label>
</div>

<div id="itemsContainer" class="row" *ngIf="reviews.length; else noReviews">
  <div *ngFor="let review of filteredReviews; trackBy: trackById" class="col-4">
    <app-realty-obj-card [realtyObject]="review.realtyObj">
      <ng-container *ngIf="review.dateTime">
        <ng-container *ngIf="isFutureDate(review.dateTime); else pastDate">
          <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div>
              Scheduled for {{ review.dateTime | date: 'MMM d, HH:mm':'local' }}
            </div>
            <div>
              <button (click)="cancelReview(review.realtyObj)">Cancel</button>
            </div>
          </div>
        </ng-container>
        <ng-template #pastDate>
          <div>
            Reviewed on {{ review.dateTime | date: 'MMM d, HH:mm':'local' }}
          </div>
        </ng-template>
        <!--          <div>-->
        <!--            <button (click)="rateReview(review.realtyObj)">Rate</button>-->
        <!--          </div>-->
      </ng-container>
    </app-realty-obj-card>
  </div>
</div>

<ng-template #noReviews>
  <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 30vh">
    <div>No Matching Reviews. Enjoy Using Our Service!</div>
  </div>
</ng-template>
