<div class="row" *ngIf="currentObject">
  <div class="col-md-7 photo-and-gallery-block">
    <div class="details-title--left">
      <h1 style="font-size: 1.5rem;">
        <span>Apartment at
          {{ currentObject.address.street }} str.&nbsp;</span>
        <span>est. at ${{ currentObject.price }}</span>
      </h1>
      <div class="details-title--right">
        <div class="btn-manage--container" *ngIf="userService.isAuthenticated$|async">
          <ng-container *ngIf="isMyObject(currentObject)">
            <div>
              <a (click)="promptDelete()"
                 class="btn btn-danger btn-block btn-manage">Delete</a>
            </div>
          </ng-container>
          <ng-container *ngIf="isMyObject(currentObject)">
            <div>
              <a [routerLink]="['/realty-object', currentObject.id, 'editor']"
                 class="btn btn-info btn-block btn-manage">Edit</a>
            </div>
          </ng-container>
          <div class="realty-obj-interested-btn">
            <ng-container *ngIf="!isInterested; else removeInterestedButton">
              <i (click)="toggleInterested()" ngbTooltip="Add to Favorites" class="far fa-heart text-danger"></i>
            </ng-container>
            <ng-template #removeInterestedButton>
              <i (click)="toggleInterested()" ngbTooltip="Added to Favorites" class="fa-solid fa-heart text-danger"></i>
            </ng-template>
          </div>
        </div>

      </div>
    </div>
    <div class="realty-obj-pic--main-container">
      <img class="img-responsive realty-obj-pic--main"
           (error)="setDefaultRealtyObjectPhoto($event)"
           [src]="enlargedPhoto?enlargedPhoto: defaultRealtyObjectPhoto"
           alt="main photo">
    </div>
    <div class="row" *ngIf="currentObject.photos?.length">
      <div class="col-lg-12">
        <h3 class="page-header">Photo gallery</h3>
      </div>

      <div class="col-sm-3 col-xs-6 realty-obj-pic-container" *ngFor="let photo of currentObject.photos">
        <img class="img-responsive realty-obj-pic"
             (click)="setEnlargedPhoto(photo)"
             [src]="photo.fullUrl" alt="object gallery photo">
      </div>
    </div>
  </div>

  <div class="col-md-5" style="font-size: larger">
    <div class="row" style="position: relative;">
      <div class="col-md-7 main-info-block">
        <div class="description-block">
          <div>
            <h5 *ngIf="currentObject.description">Description:</h5>
            <p class="description-block--text" *ngIf="currentObject.description">{{ currentObject.description }}</p>
          </div>
          <div class="description-block--content">
            <div class="scheduled-review-block" *ngIf="user && currentReview">
              <div>
                <i class="fa fa-calendar"></i> review
                for {{ currentReview.dateTime|date:'MMM d, HH:mm':'local' }}
              </div>
              <div class="btn-link" style="margin-left: 8px; cursor: pointer" (click)="openReviewRemoveDialog()">
                Cancel
              </div>
            </div>
            <div>
              <button *ngIf="user && !currentReview" class="btn btn-block btn-primary"
                      (click)="openScheduleReviewModal()">
                Schedule a review
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 main-info-block">
        <ng-container *ngIf="currentObject.realtor">
        <span>
          {{ currentObject.realtor?.name }}&nbsp;{{ currentObject.realtor?.surname }}, realtor
        </span>
          <div class="realtor-photo-container">
            <img class="realtor-photo img-responsive"
                 (error)="setDefaultRealtorPhoto($event)"
                 [src]="currentObject.realtor?.profilePic ? currentObject.realtor.profilePic.fullUrl: defaultRealtorPhoto">
          </div>
          <button class="btn btn-info btn-block" (click)="openRealtorContacts()">Contact</button>
        </ng-container>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="objectCharacteristics">
          <ul class="list-group">
            <li class="list-group-item">Total area:
              {{ currentObject.totalArea }} sq.m.
            </li>
            <li class="list-group-item">Living area:
              {{ currentObject.livingArea }} sq.m.
            </li>
            <li class="list-group-item">Rooms:
              {{ currentObject.roomsAmount }}
            </li>
            <li class="list-group-item">Floor: {{ currentObject.floor }} of
              {{ currentObject.totalFloors }}
            </li>
            <li class="list-group-item">Repaired:
              {{ currentObject.hasRepairing ? 'Yes' : 'No' }}
            </li>
            <li class="list-group-item">Garage:
              {{ currentObject.hasGarage ? 'Available' : 'Missing' }}
            </li>
            <li class="list-group-item">Foundation year:
              {{ currentObject.foundationYear }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
