.realty-obj-pic-container {
  height: 120px;
}

.realty-obj-pic {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.realty-obj-pic--main-container {
  height: 360px;
}

.realty-obj-pic--main {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.realty-obj-interested-btn {
  text-transform: uppercase;
  margin-right: 15px;
  font-size: 1.2rem;
}

.realtor-photo-container {
  height: 150px;
}

.realtor-photo {
  border-radius: 3px;
  max-width: 100%;
  max-height: 100%;
}

.main-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}

.photo-and-gallery-block {
  display: flex;
  flex-direction: column;
}

.list-group-item {
  font-size: 1rem;
}

.description-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;

  &--content {
    max-height: 50px;
  }

  &--text {
    font-size: 1rem;
    max-height: 150px;
    overflow: auto;
  }
}

.details-title {
  &--left {
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: space-between
  }

  &--right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center
  }
}

.btn-manage {
  padding: 0 5px;

  &--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

.scheduled-review-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  button {
    padding: 0
  }
}
