<div class="row" *ngIf="currentObject">
  <div class="col-md-7 photo-and-gallery-block">
    <div style="height: 40px; display: flex; flex-direction: row; justify-content: space-between">
      <h1 style="font-size: 1.5rem;">
        <span>Apartment at
          {{ currentObject.address.street }} str.&nbsp;</span>
        <span>est. at ${{ currentObject.price }}</span>
      </h1>
      <div style="display: flex; flex-direction: row; gap: 10px; align-items: center">
        <div *ngIf="userService.isAuthenticated$|async">
          <ng-container *ngIf="isMyObject(currentObject)">
            <a [routerLink]="['/sell', currentObject.id]" style="padding: 0 5px;"
               class="btn btn-danger btn-block">Edit</a>
          </ng-container>
        </div>
        <div *ngIf="userService.isAuthenticated$|async" (click)="toggleInterested()"
             class="realty-obj-interested-btn">
          <ng-container *ngIf="!isInterested; else removeInterestedButton">
            <i ngbTooltip="Add to Favorites" class="far fa-heart text-danger"></i>
          </ng-container>
          <ng-template #removeInterestedButton>
            <i ngbTooltip="Added to Favorites" class="fa-solid fa-heart text-danger"></i>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="realty-obj-pic--main-container">
      <img class="img-responsive realty-obj-pic--main"
           (error)="setDefaultRealtyObjectPhoto($event)"
           [src]="enlargedPhoto?enlargedPhoto: defaultRealtyObjectPhoto"
           alt="main photo">
    </div>
    <div class="row" *ngIf="currentObject.photos?.length">
      <div class="col-lg-12">
        <h3 class="page-header">Photo gallery</h3>
      </div>

      <div class="col-sm-3 col-xs-6 realty-obj-pic-container" *ngFor="let photo of currentObject.photos">
        <img class="img-responsive realty-obj-pic"
             (click)="setEnlargedPhoto(photo)"
             [src]="photo.fullUrl" alt="object gallery photo">
      </div>
    </div>
  </div>

  <div style="font-size: larger" class="col-md-5">
    <div class="row" style="position: relative;">
      <div class="col-md-7 main-info-block">
        <div class="description-block">
          <div>
            <h5 *ngIf="currentObject.description">Description:</h5>
            <p class="description-block--text" *ngIf="currentObject.description">{{ currentObject.description }}</p>
          </div>
          <div class="description-block--content">
            <div *ngIf="user && currentReview">
              <i class="fa fa-calendar" aria-hidden="true"></i> review scheduled for {{ currentReview.dateTime|date:'MMM d, HH:mm':'local' }}
            </div>
            <div>
              <button *ngIf="user && !currentReview" class="btn btn-block btn-primary"
                      (click)="openScheduleReviewModal(scheduleReviewModalContent)">
                Schedule a review
              </button>
            </div>
          </div>
        </div>

        <div class="status-buttons">
          <ng-template #scheduleReviewModalContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Please select the date and time</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form [formGroup]="reviewTimeForm">
                <div class="form-group d-flex align-items-center">
                  <div class="input-group mr-2">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           [markDisabled]="isPreviewDateDisabled"
                           formControlName="reviewDate"
                           name="datePicker"
                           ngbDatepicker
                           #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                  <ngb-timepicker formControlName="reviewTime"
                                  [minuteStep]="30"></ngb-timepicker>
                </div>
                <div *ngIf="reviewTimeForm.errors?.tooSoon">
                  <p class="text-danger">Date and time must be at least 3 hours from now.</p>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark"
                      [disabled]="!reviewTimeForm.touched || reviewTimeForm.invalid"
                      (click)="saveReviewAndClose()">Save and close
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="col-md-5 main-info-block">
        <span>
          {{ currentObject.realter.name }}&nbsp;{{ currentObject.realter.surname }}, realtor
        </span>
        <div class="realter-photo-container">
          <img class="realter-photo img-responsive"
               (error)="setDefaultRealtorPhoto($event)"
               [src]="currentObject.realter?.profilePic ? currentObject.realter.profilePic.photoFullUrl: defaultRealtorPhoto">
        </div>
        <button class="btn btn-info btn-block" (click)="openRealtorContacts()">Contact</button>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="objectCharacteristics">
          <ul class="list-group">
            <li class="list-group-item">Total area:
              {{ currentObject.totalArea }} sq.m.
            </li>
            <li class="list-group-item">Living area:
              {{ currentObject.livingArea }} sq.m.
            </li>
            <li class="list-group-item">Rooms:
              {{ currentObject.roomsAmount }}
            </li>
            <li class="list-group-item">Floor: {{ currentObject.floor }} of
              {{ currentObject.totalFloors }}
            </li>
            <li class="list-group-item">Repaired:
              {{ currentObject.hasRepairing ? 'Yes' : 'No' }}
            </li>
            <li class="list-group-item">Garage:
              {{ currentObject.hasGarage ? 'Available' : 'Missing' }}
            </li>
            <li class="list-group-item">Foundation year:
              {{ currentObject.foundationYear }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
