<div class="row" *ngIf="currentObject">
  <div class="col-md-7">
    <div class="realty-obj-pic--main-container">
      <img class="img-responsive realty-obj-pic--main"
           [src]="enlargedPhoto?enlargedPhoto: 'https://i.ytimg.com/vi/Xx6t0gmQ_Tw/maxresdefault.jpg'"
           alt="main photo">
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">Photo gallery</h3>
      </div>

      <div class="col-sm-3 col-xs-6 realty-obj-pic-container" *ngFor="let photo of currentObject.photos">
        <img class="img-responsive realty-obj-pic"
             (click)="setEnlargedPhoto(photo)"
             [src]="photo.fullUrl" alt="object gallery photo">
      </div>

    </div>
  </div>

  <div style="font-size: larger" class="col-md-5">
    <div class="row" style="position: relative;">
      <div class="col-md-7">
        <h3 style="text-align: center" class="">Apt. at
          {{currentObject.address.street}} str.</h3>
        <h3 style="text-align: center">est. at ${{currentObject.price}}</h3>

        <div class="object-review">
          <div *ngIf="currentReview">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> review at {{currentReview.dateTime|date:'MMM/d, h:mm'}}
          </div>
          <button *ngIf="!currentReview" class="btn btn-block btn-primary"
                  (click)="openScheduleReviewModal(scheduleReviewModalContent)">
            Schedule a review
          </button>
        </div>

        <p class="">{{currentObject.description}}</p>
        <div class="status-buttons">

          <button (click)="saveInterested()" [disabled]="isInterested" class="btn btn-block btn-success realty-obj-interested-btn">
            I'm interested!
          </button>
          <button *ngIf="isInterested" (click)="removeInterested()" class="btn btn-block btn-warning realty-obj-interested-btn">
            Remove interested
          </button>

          <ng-template #scheduleReviewModalContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Please select the date and time</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form class="">
                <div class="form-group d-flex align-items-center">
                  <div class="input-group mr-2">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="datePicker" [(ngModel)]="reviewDate" [markDisabled]="isPreviewDateDisabled" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                  <ngb-timepicker name="timePicker"
                                  [minuteStep]="30"
                                  [(ngModel)]="reviewTime"></ngb-timepicker>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" [disabled]="!reviewDate || !reviewTime" (click)="saveReviewAndClose()">Save and close</button>
            </div>
          </ng-template>

        </div>
      </div>

      <div class="col-md-5">
        <div class="realter-photo-container">
          <img class="realter-photo img-responsive"
               src="{{currentObject.realter.photo.photoFullUrl}}" alt="">
        </div>
        <span class="btn btn-block">
          {{currentObject.realter.name}}&nbsp;{{currentObject.realter.surname}}, realtor
        </span>
        <button class="btn btn-info btn-block">Contact</button>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="objectCharacteristics">
          <ul class="list-group">
            <li class="list-group-item">Total area:
              {{currentObject.totalArea}} sq.m.
            </li>
            <li class="list-group-item">Living area:
              {{currentObject.livingArea}} sq.m.
            </li>
            <li class="list-group-item">Rooms:
              {{currentObject.roomsAmount}}</li>
            <li class="list-group-item">Floor: {{currentObject.floor}} of
              {{currentObject.totalFloors}}</li>
            <li class="list-group-item">Repaired:
              {{currentObject.hasRepairing ? 'Yes' : 'No'}}</li>
            <li class="list-group-item">Garage:
              {{currentObject.hasGarage ? 'Available' : 'Missing'}}</li>
            <li class="list-group-item">Foundation year:
              {{currentObject.foundationYear}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
