.navbar {
  height: 50px;
}

li.nav-item.owner-item {
  background-color: white;
  color: black !important;
  font-weight: bolder;
  border-radius: 8%;
  margin-left: 25px;
}

.navbar-nav {
  cursor: pointer;
}
