.navbar {
  height: 50px;
}

li.nav-item.owner-item {
  background-color: white;
  color: black !important;
  font-weight: bolder;
  border-radius: 8%;
  margin-left: 25px;
}

.navbar-nav {
  cursor: pointer;
}


.nav-to-profile {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center
}
