<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">RealPerfect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [class.active]="isActiveRoute('/buy') || isDefaultRoute()" [routerLink]="['/buy']"
           routerLinkActive="active">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isActiveRoute('/rent')" [routerLink]="['/rent']"
           routerLinkActive="active">Rent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isActiveRoute('/realtors')" [routerLink]="['/realtors']"
           routerLinkActive="active">Our Realtors</a>
      </li>
      <li class="nav-item owner-item">
        <a class="nav-link" routerLink="/obj/editor" style="color: black">I'm an owner!</a>
      </li>
    </ul>
    <signup-button *ngIf="!isAuthenticated"></signup-button>
    <signin-button *ngIf="!isAuthenticated"></signin-button>
    <signout-button *ngIf="isAuthenticated"></signout-button>
    <div class="nav-to-profile" *ngIf="isAuthenticated"
         [routerLink]="['/profile']">
      <img style="height: 100%; border-radius: 50%;" *ngIf="user?.profilePicUrl;else avatarIcon"
           [src]="user.profilePicUrl" alt="">
      <ng-template #avatarIcon>
        <i class="fa fa-user"></i>
      </ng-template>
    </div>
  </div>
</nav>
