@import "app/variables";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.toast-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.input-row {
  display: flex;
  gap: 10px;
  justify-content: space-between
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#orderByDropdownMenuButton {
  border: none;
}

.filter {
  &--value-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}

.other-filters {
  &--section {
    padding-top: 7px;
  }
}

.main-page-block {
  padding-top: $padding-below-header;
}
