@import "app/variables";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

$filter-icon-margin: 10px;

.city-input {
  padding-right: 35px;
}

.toggle-order-icon {
  margin-right: $filter-icon-margin;
}
.location-icon {
  cursor: pointer;
  position: absolute;
  right: $filter-icon-margin;
  top: 50%;
  transform: translateY(-50%);
  color: cadetblue;
}

.input-row {
  @include media-breakpoint-up(md) {
    display: flex;
    gap: 10px;
    justify-content: space-between
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#orderByDropdownMenuButton {
  border: none;
}

.filter {
  &--value-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}

.other-filters {
  &--section {
    padding-top: 7px;
  }
}

.filter-input-in-row {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-page-block {
  padding-top: $padding-below-header;
}
