<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 tablet-desktop-side-section">
        <div class="row card" *ngIf="filterForm" [formGroup]="filterForm">
            <div class="card-header">
                <div class="card-header--part" style="position: relative; display: flex; flex: 1;">
                    <select [formControlName]="'region'"
                            class="form-control"
                            name="selected-region"
                            (change)="onRegionChange()"
                    >
                        <option value="0" selected>All Regions</option> <!-- Placeholder option -->
                        <option *ngFor="let region of supportedRegions" [value]="region.id">
                            {{ region.name }}
                        </option>
                    </select>
                    <span *ngIf="filterForm?.controls.region.value" class="location-icon"
                          (click)="openRealtyOnMapWidget(filterForm?.controls.region.value)">
                        <i class="fas fa-location-dot"></i>
                    </span>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="filter--value-container card-header--part" ngbDropdown>
                        <button
                                id="orderByDropdownMenuButton"
                                class="btn btn-outline-secondary"
                                ngbDropdownToggle
                        >
                            Order By {{ selectedOrderingOption.display }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                            <button
                                    class="dropdown-item"
                                    *ngFor="let option of orderingOptions"
                                    (click)="selectOrderingOption(option)"
                            >
                                {{ option.display }}
                            </button>
                        </div>
                        <span class="toggle-order-icon" style="color: black; margin-top: 3px; cursor: pointer"
                              (click)="toggleOrderingDirection()">
                          <ng-container>
                            <i *ngIf="selectedOrderingDirection === 'desc'; else arrowDown"
                               class="fas fa-arrow-down"></i>
                            <ng-template #arrowDown>
                              <i style="cursor: pointer" class="fas fa-arrow-up"></i>
                            </ng-template>
                          </ng-container>
                        </span>
                    </div>
                    <button class="btn btn-link collapse-filter-btn d-md-none"
                            (click)="isFilterCollapsed = !isFilterCollapsed">
                        {{ isFilterCollapsed ? 'Display All Filters' : 'Hide All Filters' }}
                    </button>
                </div>
            </div>

            <div class="other-filters--section form-group card-body" [ngbCollapse]="isFilterCollapsed">
                <div class="other-filters">
                    <label for="cityInput">
                        City
                    </label>
                    <div class="card-header--part" style="position: relative; display: flex; flex: 1;">
                        <input id="cityInput" name="city" class="form-control city-input"
                               (keyup.enter)="loadInitialObjects()"
                               [formControlName]="'city'">
                    </div>
                    <label for="streetInput">
                        Street
                    </label>
                    <input (keyup.enter)="loadInitialObjects()" id="streetInput" name="street"
                           [formControlName]="'street'"
                           class="form-control">
                    <div class="row">
                        <div class="filter-input-in-row col-3 col-sm-6">
                            <label for="minPriceInput">
                                Price min
                            </label>
                            <input id="minPriceInput" (keyup.enter)="loadInitialObjects()" type="number" name="minPrice"
                                   [formControlName]="'priceMin'"
                                   class="form-control">
                        </div>
                        <div class="filter-input-in-row col-3 col-sm-6">
                            <label for="maxPriceInput">
                                Price max
                            </label>
                            <input id="maxPriceInput"
                                   type="number"
                                   name="maxPrice"
                                   (keyup.enter)="loadInitialObjects()"
                                   [formControlName]="'priceMax'"
                                   class="form-control">
                        </div>
                        <div class="filter-input-in-row col-3 col-sm-6">
                            <label for="minPriceInput">
                                Area min
                            </label>
                            <input id="minAreaInput"
                                   type="number"
                                   name="minTotalArea"
                                   class="form-control"
                                   (keyup.enter)="loadInitialObjects()"
                                   [formControlName]="'totalAreaMin'">
                        </div>
                        <div class="filter-input-in-row col-3 col-sm-6">
                            <label for="maxAreaInput">
                                Area max
                            </label>
                            <input id="maxAreaInput"
                                   type="number"
                                   name="maxTotalArea"
                                   class="form-control"
                                   (keyup.enter)="loadInitialObjects()"
                                   [formControlName]="'totalAreaMax'">
                        </div>
                    </div>
                    <label for="roomsAmountInput">
                        Rooms
                    </label>
                    <input id="roomsAmountInput" name="rooms" type="number" class="form-control"
                           (keyup.enter)="loadInitialObjects()"
                           [formControlName]="'roomsAmount'">
                    <label for="descriptionLikeInput">
                        Description like
                    </label>
                    <!-- eslint-disable -->
                    <input id="descriptionLikeInput"
                           name="description"
                           class="form-control"
                           [readOnly]="!filterForm?.controls.region.value || filterForm?.controls.region.value == 0 ? true : null"
                           [ngbTooltip]="!filterForm?.controls.region.value || filterForm?.controls.region.value == 0 ? 'Please select a region first' : null"
                           (keyup.enter)="loadInitialObjects()"
                           [formControlName]="'description'">
                    <!-- eslint-enable -->
                    <label for="buildingTypeInput">
                        Building type
                    </label>
                    <select id="buildingTypeInput"
                            name="buildingType"
                            class="form-control"
                            [formControlName]="'buildingType'">
                        <option *ngFor="let buildingType of buildingTypes"
                                (change)="loadInitialObjects()"
                                [ngValue]="buildingType">{{ buildingType }}
                        </option>
                    </select>
                </div>
                <div class="row" style="max-width: unset; width: unset; margin-top: 10px">
                    <div class="col-6" style="display: flex">
                        <button (click)="resetFiltersAndLoadInitialObjects()" class="btn btn-info btn-block">Reset all
                        </button>
                    </div>
                    <div class="col-6" style="display: flex">
                        <button (click)="loadInitialObjects()" class="btn btn-info btn-block">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-7 main-page-block"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
        <realty-objs-list [realtyObjectsPortion]="currentObjectsPortion$|async"
                          [showCreatedAt]="true"
                          [displayMode]="'accumulateByPortion'"
        ></realty-objs-list>
    </div>
</div>
