@import 'app/variables';

$aw-colors: (
  '_': (
    'default': (
      'border-color-default': #d0efff,
      'background-color-default': #d0efff,
      'symbol-color-default': #d0efff,
      'border-color-hover': #d0efff,
      'background-color-hover': #d0efff,
      'symbol-color-hover': #d0efff,
    ),
    'done': (
      'border-color-default': #d0efff,
      'background-color-default': #d0efff,
      'symbol-color-default': #d0efff,
      'border-color-hover': #d0efff,
      'background-color-hover': #d0efff,
      'symbol-color-hover': #d0efff,
    ),
    'current': (
      'border-color-default': $app-border-color,
      'background-color-default': $app-border-color,
      'symbol-color-default': $app-border-color,
      'border-color-hover': $app-border-color,
      'background-color-hover': $app-border-color,
      'symbol-color-hover': $app-border-color,
    )
  )
);

@import '../node_modules/angular-archwizard/styles/archwizard.scss';

body { padding-top: $header-height; }

.side-section {
  position: sticky;
  top: $header-height;
  height: calc(100vh - #{$header-height});
  overflow-y: auto; /* Allow scrolling within the filter section if needed */
}


.big-checkbox {
  width: 20px;
  height: 20px;
}

.not-yet-supported {
  color: #606060 !important;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

button.disabled, button:disabled {
  opacity: .35 !important;
}
