.realty-pic-preview-container {
  text-align: center
}

.realty-pic-preview-container img, .realty-confirmation-pic-preview-container img {
  max-height: 150px;
}
.realty-pic-preview-container img {
  width: 100%;
  object-fit: cover;
}

input.ng-invalid, select.ng-invalid, textarea.ng-invalid {
  border: 1px solid #ffeb6b !important;
}

input.ng-valid, select.ng-valid, textarea.ng-valid {
  border: 1px solid green !important;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: end;
}

.main-photo-text {
  padding: 9px;
}
