<div style="display: flex; flex-direction: row; align-items: center">
  <div class="dropdown" ngbDropdown>
    <button
      class="btn btn-link p-0"
      type="button"
      ngbDropdownToggle
    >
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <ul ngbDropdownMenu class="dropdown-menu">
      <li>
        <a class="dropdown-item" (click)="activateObject(realtyObject)"
           *ngIf="realtyObject.status === RealtyObjectStatus.DRAFT"
        >Activate
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="archiveObject(realtyObject)"
           *ngIf="realtyObject.status === RealtyObjectStatus.ACTIVE">
          Archive Realty Object
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="restoreObject(realtyObject)"
           *ngIf="realtyObject.status === RealtyObjectStatus.ARCHIVED">
          Re-activate
        </a>
      </li>
    </ul>
  </div>
  <div style="margin-left: 5px" *ngIf="realtyObject.status !== RealtyObjectStatus.ACTIVE">
    <i *ngIf="realtyObject.status === RealtyObjectStatus.DRAFT"
       ngbTooltip="This object is not Activated yet"
       style="color: red; margin-right: 10px"
       class="fas fa-pencil-alt"></i>
    <i *ngIf="realtyObject.status === RealtyObjectStatus.ARCHIVED"
       ngbTooltip="This object is Archived"
       style="color: red; margin-right: 10px"
       class="fas fa-archive"></i>
  </div>
</div>
