<h1 class="header">User management</h1>
<div class="container mt-5">
  <input
    type="text"
    class="form-control mb-4"
    placeholder="Search by email"
    [(ngModel)]="searchQuery"
    (input)="searchUsers()"
  />
  <div class="row">
    <div class="col-md-4" *ngFor="let user of filteredUsers">
      <div class="card mb-4">
        <div style="height: 250px;">
          <img [src]="user.profilePicUrl??defaultUserPhoto"
               class="card-img-top"
               alt="{{ user.name }}"
               style="height: 100%; object-fit: contain;"
          />
        </div>
        <div class="card-body">
          <h5 class="user-card-title card-title">
            <div style="display: flex; flex-direction: column">
              <div class="name">{{ user.name? user.name: 'Unnamed User' }}</div>
              <p class="card-text">{{ user.email }}</p>
            </div>
            <div class="roles">
              <div *ngFor="let role of user.roles"
                   class="role-label badge bg-warning"
                   style="text-transform: lowercase">
                {{ role }}
              </div>
            </div>
          </h5>

          <button
            *ngIf="!isRealtor(user)"
            class="btn btn-primary"
            (click)="makeRealtor(user.id)">
            Make Realtor
          </button>
          <button
            *ngIf="isRealtor(user)"
            class="btn btn-secondary"
            (click)="makePlainUser(user.id)">
            Remove Realtor Role
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
