<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Object Review</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 20px; text-align: center;">
<h1 style="color: #333;">You Scheduled A Review! Please Wait for a Realtor Confirmation!</h1>

<div th:replace="sharedRealtyObjectBlock :: realtyObject(${realtyObject})"></div>

<div style="margin-top: 20px;">
    <a th:href="${appRoot + '/realty-object/' + realtyObject.id + '/cancel-review/' + reviewId}"
       style="cursor: pointer; display: inline-block; margin: 10px; padding: 10px 20px; text-decoration: none; font-size: 16px; color: white; border-radius: 5px; background-color: #DC3545; transition: opacity 0.3s ease;"
       target="_blank">
        Cancel Review
    </a>
</div>
</body>
</html>
