<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Object Review</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 20px">
<h1 style="color: #333; text-align: center;">
    A Review For Realty Object In <span th:text="${realtyObject.address.city}"></span> <strong>Cancelled</strong>!
</h1>
<div>
    <h2 th:if="${reason != null}">Reason Mentioned by <span th:text="${user.email}"></span>:</h2>
    <span th:text="${reason}"></span>
</div>
<div th:replace="sharedRealtyObjectBlock :: realtyObject(${realtyObject})">
</div>
</body>
</html>
